	<header class="header">

		<div class="header__logo">

{% include "template/logo.html" %}

		</div>

		<div class="header__onboarding">

{% include "template/onboarding.html" %}

		</div>

		<div class="header__right">

			<div class="header__social">

{% include "template/social.html" %}

			</div>

			<hr>

			<div class="header__lang">

{% include "template/lang.html" %}

			</div>

			<hr>

			<div class="header__phone">

				<a href="tel:+971445678909">
					+97 144 5678909
				</a>

			</div>

		</div>

		<button class="btn-menu button" type="button">

			<svg width="20" height="20" viewBox="0 0 20 20">
				<g stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="m 1,4 l 9,0 l 9,0"/>
					<path d="m 1,10 18,0"/>
					<path d="m 1,16 l 9,0 l 9,0"/>
				</g>
			</svg>

		</button>

	</header>