.menu {

	display: flex;
	white-space: nowrap;

	@media $smWidth {

		.header & {

			display: block;

		}

	}

	li {

		& + li {

			margin-left: 24px;

			@media $smWidth {

				.header & {

					margin: 20px 0;

				}

				.footer & {

					margin-left: 16px;

				}

			}

		}

		@media $smWidth {

			.header & {

				margin: 20px 0;
				font-size: 24px;
				text-align: center;

			}

			.footer & {

				font-size: 12px;

			}

		}

	}

	@media $desktop {

		a:hover {

			opacity: .7;

		}

	}

}
