.slider {

	width: 595px;

	&__nav {

		display: flex;
		align-items: center;
		margin-bottom: 10px;

	}

	&__list {

		display: flex;

	}

	&__item {

		width: 100%;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media $smWidth {

			display: block;

		}

	}

	&__text {

		font-weight: 500;
		font-size: 40px;
		line-height: 60px;

		& + & {

			margin-top: -5px;

		}

		&-check {

			float: left;
			width: 50px;
			height: 50px;
			margin: 5px 15px 5px 0;
			border-radius: 50%;
			background-color: #eeedf3;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {

				fill: var(--blue);
				stroke: var(--blue);

			}

		}

		&-selected {

			display: inline-block;
			padding: 2px 20px 4px;
			background-color: #eeedf3;
			border-radius: 30px;
			color: var(--blue);

		}

	}

	&__flags {

		margin: 36px 0 15px;

		&-text {

			display: flex;
			font-size: 17px;
			line-height: 30px;

			li {

				display: flex;

				& + li::before {

					content: '•';
					opacity: 0.3;
					margin: 2px 7px 0;

				}

			}

		}

	}

}